* {
  padding: 0;
  margin: 0;
}

.design {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #efefef;
  width: 800px;

  margin: 5% auto;
  font-family: sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 600px;
  height: 500px;
}

h1 {
  padding-bottom: 20px;
}

input {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  padding: 5px 10px;
  margin: 18px 0;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  width: 300px;
}

input:hover {
  color: blue;
}

#rs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  background-image: url(bgstyle1.jpg);
  height: 600px;
  width: 500px;
}

h2 {
  color: brown;
  font-size: 1.5em;
  padding-top: 50px;
}

button {
  background-color: whitesmoke;
  color: black;
  padding: 15px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.6em;
}

button:hover {
  color: rgb(231, 42, 42);
}

#input2 {
  padding: 50px 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: crimson;
}

h4 {
  font-weight: lighter;
  font-size: 0.9em;
  padding-left: 8px;
}

#g {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-weight: 100;
  font-size: 0.8em;
}

#drop {
  width: 100px;
  margin-left: 8px;
  margin-top: 10px;
}
